.head {
  background-image: earthrise.jpg?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb);
  height: 400px;
  background-position: center center;
   }
 .body {
  font-family: 'Merriweather', serif;
  }
  .tile {
  font-family: 'Roboto Condensed', sans-serif;
  }
